/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.top {
	position: relative;
	padding: 20px 0;
	margin: 20px;
}

.main-nav {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top:10px;
	right:400px;
}
.main-nav a{
	margin: 0 60px;
	color: grey;
}
header .logo {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top:10px;
	right:10px;
}
.demand {
	margin:50px;
	border: 2px solid black;
	position: relative;
}

.demand img {
	display: inline-block;
	position: absolute;
	right: 20px;
	width: 300px;
	height: auto;
	top: 50px;

}
.container .demand1 h1 {
	font-size: 75px;
	margin-top: 100px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
.demand .start{
	border: 2px solid black;
	display: inline-block;
	margin-left: 100px;
	padding: 20px;
}
.container .demand img {
	display: inline-block;
	vertical-align: top;
}
.first-section {
	border: 2px solid rgb(143, 6, 6);
	margin: 10px 50px;
	height: 200px;
}
.features {
	display: inline-block;
	width: 450px;
	height: 150px;
	border: 2px solid red;
}

.about {
	display: inline-block;
	width: 450px;
	height: 150px;
}

.services {
	display: inline-block;
	width: 300px;
}
.product {
	display: inline-block;
	width: 300px;
}

.vision {
	display: inline-block;
	width: 300px;
}

.contact {
	margin:50px;
	line-height: 30px;
}

.copyright {
	text-align:center;
}